<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sports Scheduler</title>
    <style>
        body{
            background-image: url('https://wallpapercave.com/wp/wp4390828.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100"> <!-- Centered content vertically and horizontally -->

    <!-- Todo Home Page -->
    <div class="col-start-3 col-span-2 bg-white p-6 rounded-lg shadow-md"> <!-- Removed unnecessary mt-20 -->
        <p class="py-2 text-2xl font-semibold">Welcome to Sports Scheduler</p>
        <p class="py-2">New Here? <a class="text-green-600" href="/signup">Sign-Up now...</a></p>
        <p class="py-2">Already have an Account? <a class="text-green-600" href="/login">Sign-In</a></p>
    </div>

</body>
</html>